@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet version */

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login{
        width: 78vw;
        height: 50vh;
    }

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 70%;
        height: 100%;
    }

    div#formulario > h1{
        font-size: 1.4em;
    }

    div#formulario > p{
        font-size: 1.0em;
    }
}

@media screen and (min-width: 992px) {  /* large screen's */

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login{
        width: 1000px;
        height: 55vh;
    }

    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
        height: 100%;
    }

    div#formulario > h1{
        font-size: 2.1em;
    }

    div#formulario > p{
        font-size: 1.1em;
    }
}